html,
body {
    margin: 0;
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

section {
    margin-bottom: 50px;
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;
}

p,
h3 {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

h1,
h2,
h4 {
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
}

a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: rgb(184, 184, 184);
}

p {
    line-height: 1.5;
    font-size: 14px;
}

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type: none;
    padding-inline-start: 0px;
}

.btn {
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.btn-white {
    background-color: white;
    color: black;
    text-transform: uppercase;
}

.btn-black {
    background-color: black;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
}

.nav-menu a {
    display: none;
}

.nav-menu li a {
    padding: 10px;
}

.nav-menu li a:hover {
    color: black;
}

.nav div a.icon {
    float: right;
    display: block;
    position: absolute;
}

.nav-menu.responsive {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    background: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.nav-menu li {
    display: block;
}

.nav-menu li a {
    text-transform: uppercase;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-link {
    position: relative;
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    z-index: 999;
    width: 200px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.dropdown-item:hover .dropdown-content,
.dropdown-content:hover {
    opacity: 1;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* home-section */

.image-container {
    position: relative;
    height: 700px;
}

.cover {
    width: 100%;
    height: 100%;
}

.image-container-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image-container-info div {
    margin-bottom: 45px;
}

.image-container-title {
    border-bottom: 2px solid white;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

main {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

/* trending-section */

.trending-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 75%;
    border-radius: 8px;
    background-color: white;
    margin: 10px auto;
}

.card-img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-info {
    margin: 30px;
}

.card-title {
    font-weight: 700;
}

.card-info .card-subtitle,
.card-info .row .fa-clock,
.card-info .row .card-time {
    color: #aaa;
}

.fa-clock {
    margin-right: 10px;
}

/* photos-section */

.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.top-text-container {
    position: absolute;
    left: 30px;
    top: 25px;
    color: #fff;
}

.bottom-text-container {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    left: 30px;
    text-align: left;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #444;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #fff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* register-section */

.form-container {
    background-color: #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

form {
    width: 100%;
    max-width: 500px;
}

label {
    font-weight: 700;
    font-size: 14px;
}

input,
select {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 5px 7px;
    margin-bottom: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    outline: none;
}

select {
    color: #aaa;
}

.input-submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    max-width: 150px;
    width: 100%;
}

/* footer */

footer {
    background-color: black;
    padding: 10px 0;
}

.footer-menu-container {
    display: flex;
    flex-direction: row;
}

.footer-menu {
    margin: 20px;
}

.footer-menu li a {
    text-transform: capitalize;
    font-size: 14px;
}

.social-media-menu {
    padding-left: 20px;
}

.social-media-menu i {
    color: white;
    margin-right: 25px;
}

@media(min-width: 767px) {
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .card {
        width: 31%;
        margin: 0px;
    }

    .nav-menu {
        overflow: hidden;
        display: flex;
        align-items: center;
        max-height: 45px;
    }

    .nav-menu li {
        display: inline-block;
        margin-right: 15px;
    }

    .nav-menu li a {
        float: left;
        display: block;
        text-align: center;
    }

    .fa-bars {
        display: none;
    }

    .dropdown-content {
        top: 40px;
        margin-left: 0px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .social-media-menu {
        margin-top: 20px;
        margin-right: 175px;
    }
}